.icon {
  vertical-align: text-bottom;
  display: inline-block;
  height: 2.2em;
  width: 2.2em;
  fill: #7A1B59; }

.icon-huge {
  vertical-align: text-bottom;
  display: inline-block;
  height: 128px;
  width: 128px;
  fill: #7A1B59; }

a .icon {
  fill: #1EAEDB; }

a:hover .icon {
  fill: #1b9cc5; }

.octicon-heart {
  -moz-transition: fill 0.5s;
  -o-transition: fill 0.5s;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s; }
  .octicon-heart:hover {
    fill: red; }

.inline-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.inline-list li {
  display: inline-block;
  padding: 0 10px 0 0;
  margin: 0; }

body {
  color: #7A1B59;
  font-size: 1.5em; }

a {
  text-decoration: none;
  color: #1EAEDB; }
  a:hover {
    color: #0FA0CE; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

footer {
  background-color: #FBF8F4;
  padding: 16px 0; }
  footer .icon {
    vertical-align: text-bottom;
    display: inline-block;
    height: 16px;
    width: 16px;
    fill: #7A1B59; }
  footer a .icon {
    fill: #1EAEDB; }
  footer a:hover .icon {
    fill: #1b9cc5; }

header {
  padding: 12px 0;
  background-color: #9D5892; }
  header .icon {
    vertical-align: text-bottom;
    display: inline-block;
    height: 16px;
    width: 16px;
    fill: #DCCBD6; }

header a {
  color: #DCCBD6; }

.hero {
  background-color: #D0A1C0;
  text-align: center;
  padding: 160px 0 150px 0; }

#logo {
  background: url("../images/pore-compare.png") no-repeat 0 0, center;
  background-size: 100% auto;
  padding-bottom: 15.3%;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  white-space: nowrap;
  overflow: hidden; }

section {
  padding: 60px 0; }

.section-title {
  background-color: #B8719F;
  text-align: center; }

.why-compare-body {
  background-color: #F9F8F2; }

.references {
  background-color: #F9F8F2; }

.contribute {
  background-color: #D0A1C0; }

.show-off-icon .mega-octicon {
  font-size: 128px; }

#ds-plot {
  padding: 15px;
  min-height: 500px; }

@media (min-width: 1000px) {
  #ds-plot {
    min-height: 600px; } }

th {
  background-color: #7A1B59;
  padding: 6px;
  color: #DCCBD6; }

@media (max-width: 800px) {
  .container.medium-full-width {
    width: 100%;
    padding: 0; } }

th, td {
  white-space: nowrap; }
