
// SIZES
$icon-size: 2.2em;
$icon-huge-size: 128px;

$header-padding-top-bottom: 12px;

$footer-padding-top-bottom: 16px;

$section-padding-top-bottom: 60px;

$font-size: 1.5em;

// BASE COLORS
$header-backround-color: #9D5892;
$footer-background-color: #FBF8F4;
$section-background-color-1: #F9F8F2;
$section-background-color-2: #D0A1C0;
$section-title-background-color: #B8719F;

$link-color: #1EAEDB;
$link-color-hover: #0FA0CE;

// FONT COLORS
$text-color: #7A1B59;
